<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-line">
            <label for="name">Enter file name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-line">
            <label for="name">Upload file: </label>
            <input type="file" name="file" id="file">
        </div>

        <div class="form-line">
            <input type="submit" value="Upload">
        </div>
    </form>
</body>
</html>
